<div class="container position-relative">
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Herbs shop</a>

        <button [routerLink]="['age-verification']">
          Exit
        </button>

        <div class="card float-end" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Cart ({{ productsInCart.length }})</h5>
          </div>
        </div>
      </div>
    </nav>

    <div *ngIf="(allCategories$ | async) as allCategories; else waiting" class="row">
      <div class="col-2">
        <app-category-selector
          (selected)="onCategorySelected($event)"
          [categories]="allCategories"></app-category-selector>
      </div>
      <div class="col">
        <app-products-list
          (buy)="addToCart($event)"
          [products]="productsToDisplay"></app-products-list>
      </div>
    </div>

    <ng-template #waiting>
      Loading...
    </ng-template>

  </div>
</div>
